
h1 {
    background-color:gray;
    color:white;
    padding: top 20px right 20px bottom 20px left 10px;
    width: 800px;
}
h2 {
    background:gray;
    color:white;
    padding: top 20px right 20px bottom 20px left 10px;
    width: 800px;
}
p {
    background-color:lightgray;
    padding:top 20px right 20px bottom 20px left 10px;
    width: 800px;
}
h3 {
    color:gray;
    width: 800px;
}
#nav a{
    text-decoration:none;
    color:gray;
    padding:0px 20px 0px 0px;
}